name: Tests

on:
  pull_request:
    branches: [ "**" ]
  workflow_dispatch:

jobs:
  test:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          cache-disabled: true

      - name: Run Shared Module Tests
        run: ./gradlew :shared:testDebugUnitTest

      - name: Run App Module Tests
        run: ./gradlew :app:testDebugUnitTest
